* {
    margin: 0px;
    padding: 0px;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.informacion {
    margin-top: 20px;
}

footer {
    text-align: center;
    color: whitesmoke;
    padding: 50px;
    background-color: #222222;
}